<head>
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />

</head>
<style>
    .border-primary{
        width: 183px;
        height: 55px;
    }
</style>
<form class="form-horizontal">
    <h3>Consulta De Leitores</h3>
    <fieldset class="border border-primary" class="small">
        <legend class="small">Pesquisa por:</legend>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label for="name">Nome</label>
                    <input type="radio" class="radio" placeholder="Nome" name="name" required class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label for="number">Numero</label>
                    <input type="radio" class="radio" placeholder="Number" name="number" required class="form-control" />
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group-sm">
        <div class="row">
            <div class="col-sm-6">
                <label for="filter">Filtro:  Informe as iniciais do leitor a ser consultado</label>
                <input type="text" placeholder="Consulte......" name="filter" required class="form-control" />
                <label for="check">Consultar por parte do nome informado</label>
                <input type="checkbox" class="checkbox" placeholder="Consultar por parte do nome informado" name="filter" required class="form-control" />
            </div>
</form>

