
    <div class="form">
      <form class="form-group">
        <input class="form-control" type="text" placeholder="username"/>
        <input class="form-control" type="password" placeholder="password"/>
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
