
@{
    ViewData["Title"] = "Outono";
}
<html>
<body>
    <head>

    </head>
    <main>

    </main>
    <footer></footer>
    <center>
        <h1 class="display-3">Outono 2019</h1>
    </center>
    <br />
    <center>
        <h1 class="display-4">Boku no Hero Academia 4th Season</h1>
    </center>
    <img src="~/images/F1.jpg" class="img-responsive img-thumbnail" alt="Imagem responsiva">
    <p>
        <font size="6">
            Synopsis:
            Fourth season of Boku no Hero Academia.
    </p></font>
    <br />
    <center>
        <h1 class="display-4">Sword Art Online: Alicization - War of Underworld</h1>
    </center>

    <div class="container" id=">
        <div class="row">
            <div class="col-md-4 col-xs-6"
            <img src="~/images/F2.jpg" class="img-responsive img-thumbnail" alt="Imagem responsiva">
            </div>
        </div>
    </div>
    <p>
        <font size="6">
            Synopsis:
            Second part of Sword Art Online: Alicization.
    </p></font>

</body>
</html>

